.testimonial{
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, background-color 0.5s ease-in-out;
}




.testimonial.active{
  display: block;
  opacity: 1;
}


.bg-transition{
  transition: background-color 0.5s ease-in-out;
}